body{
	margin: 0;
	padding: 0;
	/*font-family: Verdana, Geneva, sans-serif;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
a:link{
	text-decoration:none;
	color: #fbac1b;
}
a:visited{
	text-decoration:none;
	color: #fbac1b;
}
ul{
	list-style: none;
	padding: 0;
}
ul .liTitle{
	font-weight: bold;
	padding-top: 15px;
	padding-bottom: 5px;
}
ul .liSub{
	padding-left: 5px;
	padding-top: 5px;
}
ul .liSub:hover{
	text-decoration: underline;
}
ul .liSub img{
	padding-top: 2px;
	float: right;
}
ul .liSum img:after{
	margin-right: 20px;
}
ul li{
	clear: both;
	width: 100%;
}
ul li .requestCount{
	padding: 0 3px 0 3px;
	border: 1px solid #800;
	background-color: #800;
	font-weight: bold;
	color: white;
	border-radius: 5px;
	position: absolute;
	float: right;
	z-index: 1;
	margin-left: 10px;
}
.logo{
	background-image: url('../assets/loginDivBackground.jpg');
	box-shadow: 0 2px 0 #fbac1b;
	height: 40px;
	width: 100%;
	position: fixed;
	z-index: 100;
}
.logocic{
	position: absolute;
	left: 10%;
}
.searchBar{
	position: relative;
	padding-top: 7px;
	float: left;
	left: 20%;
	
}
#search{
	width: 500px;
}

#searchResult{
	border: 1px solid gray;
	height: 300px;
	background-color: white;
	overflow: auto;
	display: none;
	padding-top: 3px;
	box-shadow: 2px 2px 2px gray;

}
#searchResult::-webkit-scrollbar {
    width: 12px;
}

#searchResult::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

#searchResult::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.logout{
	position: relative;
	float: right;
	padding-top: 7px;
	padding-right: 10px;
}
.homeButton{
	padding-right:10px;
	background-image: url('../assets/home.png');
	background-repeat: no-repeat;
	margin-top: 6px;
	margin-right: 6px;
	height: 12px;
	width: 4px;
	float: left;
}
.homeButton:hover{
	padding-right:10px;
	background-image: url('../assets/homeHover.png');
	background-repeat: no-repeat;
	margin-top: 6px;
	margin-right: 6px;
	height: 12px;
	width: 4px;
	float: left;
}
.userNav{
	padding: 100px 7% 0 3%;
	position: relative;
	float: left;
}
#friendList{
	overflow: auto;
	overflow-x:hidden;
	height: 370px;
}
#friendList img{
	padding-right: 6px;
}
.wall{
	position: relative;
	float: left;
	padding: 100px 9% 0 0;
	width: 37%;
	border-left: 1px solid #F0F0F0;
	padding-left: 10px;

}
#postWallButton{
	float: right;
}
textarea{
	resize: none;
}
.logout{
	float: right;
}
.thoughts{
	position: relative;
	float: left;
	padding-bottom: 20px;
}
.info_board{
	position: relative;
	float: right;
	margin-top: 100px;
	width: 30%;
}
.info_board .info_holder{
	width: 300px;
	position: relative;
	
}
.info_board .title{
	padding: 5px;
	box-shadow: 0 2px 0 #fbac1b;
	border-radius: 5px 5px 0px 0px;
	font-weight: bold;
	color: #800000;
	border-bottom: 0.5px solid #fbac1b;
	background-image: url('../assets/info_boardTitleBg.png');


}
.info_board span{
	overflow: auto;
	overflow-x:hidden;
	height: 200px;
	margin: 5px;
	display: block;
}
.info_board .scrollableUpdate{
	overflow: auto;
	overflow-x:hidden;
	height: 200px;
	margin: 5px;
	display: block;
}
.info_board .scrollable::-webkit-scrollbar {
    width: 8px;
}

.info_board .scrollable::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.info_board .scrollableRooms::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.info_board .scrollableRooms::-webkit-scrollbar {
    width: 8px;
}

.info_board .scrollableRooms::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.info_board .scrollableRooms::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
#showForm{
    background: rgb(54, 25, 25); /* Fall-back for browsers that don't
                              support rgba */
    background: rgba(54, 25, 25, .5);
    position:fixed;
    margin: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}
.info_board strong:hover{
	background-image: url('../assets/info_boardTitleBg.png');
	position: relative;
	width: 100%;
	color: #800;

}
#showForm{
    display:none;

}
#showForm:target {
    display:block;
}
#close:target {
    display:none;
}


#formBox{
	position:fixed;
	border: 1px solid gray;
	background-color: white;
	width: 400px;
	margin: auto;
	top: 30%;
	left: 35%
}
#formTitle{
	border-bottom: 1px solid gray;
	width: 395px;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 0 5px 5px;
	background-color: #fbac1b;
}
#formContent{
	padding: 20px 0 80px 15px;
	border-bottom: 1px solid gray;
	width: 100%;
	position: relative;
}
#formButtons{
	padding: 5px 3px 5px 0;
	float: right;
}
span.validation {
	font-style:italic;
	color:#B41F2B;
	padding: 0 0 0 100px;
}
input{
	cursor: pointer;
}
.wall .textarea{
	padding-bottom: 40px;
}
.wall .textarea textarea{
	width: 100%;
}

.user_info{
	border-top-color: gray;
	border-top: 1px solid gray;

}
.user_info img{
	float: left;
	padding-top: 10px;
	padding-right: 10px;
}
.user_info strong{
	padding-top: 10px;
}
.user_post{
	position: relative;
	padding-bottom: 30px;
	display: block;
	margin-left: 60px;


}
.time{
	font-size: 10px;
	float: right;
}
strong{
	position: relative;
	float: left;

}
#createRoomCaption{
	padding-left: 60px;
	font-style: italic;
}
/* CSS FOR CUSTOM EFFECT */


    #requestContainer{
    	display: none;
    	position: absolute;
    	border: solid 1px;
    	margin-left: 135px;
    	margin-top: -10px;
    	z-index: 3;
    	box-shadow: 2px 2px 2px gray;

    }
   #requestContainer{
    	position: absolute;
width: 325px;
height: 345px;
padding: 0px;
background: #FFFFFF;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
border: #B50900 solid 2px;
}

    #requestContainer:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 13px 12px 13px 0;
border-color: transparent #FFFFFF;
display: block;
width: 0;
z-index: 1;
left: -12px;
top: 8px;
}

    #requestContainer:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 14px 13px 14px 0;
border-color: transparent #B50900;
display: block;
width: 0;
z-index: 0;
left: -15px;
top: 7px;

}
.friendRequestButton{
	border-radius: 25px;
	border: 1px solid #C0C0C0;
	background: #F5F5F5;
	font-weight: bold;
	float: right;
	margin: 5px 5px 5px 0;
}
.friendRequestButton:hover{
	cursor: pointer;
}
#requestContainer strong{
	padding: 5px 0 5px 5px;
	color: #800;
}

.loadingImg{
position: relative;
padding-left: 130px;
padding-top: 100px;
}

#requestWhoContainer{
	border-top: 1px solid #C0C0C0;
	padding-top: 10px;
	clear: both;
	position: relative;
	overflow: auto;
	overflow-x: hidden;
	height: 305px;
}
#editUpdate{
	position: relative;
	width: 15px;
	height: 15px;
	float: right;
	margin-top: 3px;
	background-image: url('../assets/edit1.png');
}
#editUpdate:hover{
	cursor: pointer;
	position: relative;
	width: 15px;
	height: 15px;
	float: right;
	margin-top: 3px;
	background-image: url('../assets/editHover1.png');
}
#updatesTextarea{
	width: 284px;
	height: 167px;
}
#msgHolder{
	position:fixed; 
	width:99%; 
	height:270px; 
	pointer-events:none;

	padding:5px 0 5px 5px; 
	bottom:0px; 

}
.instantMsg{
	pointer-events:auto;
	border:solid 1px;
	height: 110%;
	width: 280px;
	float: right;
	margin-left: 5px;
}
.pmTitle{
	background-image: url('../assets/loginDivBackground.jpg');
}
.pmMsgHolder{
	background-color: white;
}
.instantMsg{
	background-color: white;	
}
#messagesContainer{
	display: none;
	background: rgba(54, 25, 25, .5);
	position: fixed;
	margin: auto;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#messagesContainer #messagesHolder{
	position: absolute;
	top: 10%;
	left: 20%;
	height: 80%;
	width: 60%;
	background-color: white;
	z-index: 3;
	clear: both;
}
#messagesContainer .messagesTitle{
	border-bottom: 1px solid;
	clear: both;
	height: 30px;
	background-color: #fbac1b;
}
#spanTitleMsg{
	padding-left: 5px;
	position: absolute;
	margin: 0 auto;
	font-size: 14px;
	font-weight: bold;
	color: #800;
	padding-top: 5px;
	clear: both;

}
#messagesContainer #messagesHolder button{
	float: right;
	position: relative;
	clear: both;

}
.msgFrom{
	height: 94%;
	width: 40%;
	float: left;
	overflow: auto;
	overflow-x: hidden;

}
.msgContent{
	border: solid 1px;
	height: 94%;
	float: right;
	width: 59%;
	overflow: auto;
	overflow-x: hidden;
}
.modifyPostHolder{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;

}

.modifyPostHolder .modifyBox{
	margin-top: 15%;
	margin-left: 10%;
	position: fixed;
	z-index: 5;
	background-color: white;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 5px #888888;
    box-shadow: 0 0 5px #888888;
    width: 350px;
    height: 300px;
}
.modifyPostHolder .modifyBox section{
	font-weight: bold;
	color: #800;
	padding-left: 5px;
	padding-top: 5px;
	height: 25px;
	border-bottom: 1px solid #888888;
}
.modifyPostHolder .modifyBox .modifyClose{
	float: right;
}
.wallEditDelete{
	width: 98%;
	height: 80px;
	resize: none;
}
.btnActions{
	text-align: center;
}
.msgActionPostHolder{
	text-align: center;
	font-style: italic;
	display: none;
	padding: 10px;
}
