html{
	background-image: url('../assets/Logo.png');
	background-repeat: no-repeat;
	background-position: 80% 55%;
}
body{
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, sans-serif;
}
.loginFormDiv{
	position: relative;
	background-image: url('../assets/loginDivBackground.jpg');
	box-shadow: 0 2px 0 #fbac1b;
	overflow:hidden;
	clear: both;
}
.loginFormDiv .loginForm{
	position: relative;
	top: 12px;
	float: right;
	padding: 0 30px 10px; 0;
	color: #fbac1b;
	font-size: 12px;
}
.caption{
	float: left;
	color: #fbac1b;
	padding: 0 0 5px 160px;
	font-size: 38px;
	font-weight:bold;
	text-shadow: 1px 1px 1px #000;
}
.registrationDiv{
	width: 100%;
	height: 360px;
	margin: 10% 0 8% 0;
	clear: both;
	border: solid;
	position: relative;
}
.registrationForm{
	position: relative;
	margin: 100px 0 120px 0;
	left: 12%;
	width: 300px;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 5px #888888;
    box-shadow: 0 0 5px #888888;
	padding: 15px 15px;
}
.registerCaption{
	float: right;
	margin: 60px 20% 0 0;
	font-size: 18px;
	clear: both;
	color: #fbac1b;
}
.registerCaption p{
	text-transform: uppercase;
	margin: 5px 0 0 0;
	font-weight:bold;
	font-size: 24px;
	color: #681d18;
}
ul{
	list-style: none;
}
ul li:nth-child(1){
	background-image: url('../assets/connect.png');
	background-repeat: no-repeat;
	background-position: 0 6px;
	padding-left: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
}
ul li:nth-child(2){
	background-image: url('../assets/document.png');
	background-repeat: no-repeat;
	background-position: 0 6px;
	padding-left: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
}
ul li:nth-child(3){
	background-image: url('../assets/chat.png');
	background-repeat: no-repeat;
	background-position: 0 6px;
	padding-left: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
}
ul li:nth-child(4){
	padding-left: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
}
input{
	border-radius: 5px;
}
select{
	border-radius: 5px;
}
.quote{
	position: relative;
	margin: 0 0 0 280px;
	font-size: 18px;
	
}
#errorMessage{
	position: relative;
	text-align: center;
	padding: 0 0 0 25px;
	color: red;
	}
footer{
	clear: both;
	position:relative;
	box-shadow: inset 0px 11px 8px -10px #CCC,inset 0 0 0 0 #CCC;
	margin: 20px 0 0 0;
	padding: 10px 0 0 25%;
	font-size: 12px;
}