body{
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}
a:link{
	text-decoration:none;
	color: #fbac1b;
}
a:visited{
	text-decoration:none;
	color: #fbac1b;
}
ul{
	list-style: none;
	padding: 0;
}
.logo{
	background-image: url('../assets/loginDivBackground.jpg');
	box-shadow: 0 2px 0 #fbac1b;
	height: 40px;
}
.homeButton{
	padding-right:10px;
	background-image: url('../assets/home.png');
	background-repeat: no-repeat;
	margin-top: 6px;
	margin-right: 6px;
	height: 12px;
	width: 4px;
	float: left;
}
.homeButton:hover{
	padding-right:10px;
	background-image: url('../assets/homeHover.png');
	background-repeat: no-repeat;
	margin-top: 6px;
	margin-right: 6px;
	height: 12px;
	width: 4px;
	float: left;
}
.logocic{
	position: absolute;
	left: 10%;
}
.searchBar{
	position: relative;
	padding-top: 7px;
	float: left;
	left: 20%;
	
}
#search{
	width: 500px;
}

#searchResult{
	border: 1px solid gray;
	height: 300px;
	background-color: white;
	display: none;
	z-index: 5;
	position: absolute;
	width: 500px;
	padding-top: 5px;

}
#searchResult::-webkit-scrollbar {
    width: 12px;
}

#searchResult::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

#searchResult::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.logout{
	position: relative;
	float: right;
	padding-top: 7px;
	padding-right: 10px;
}
.greet{
	color: #fbac1b;
}
.userNav{
	padding: 50px 0 0 40px;
	position: relative;
	float: left;
	clear: both;
}
.middle_info{
	float: left;
	position: relative;
	margin-top: 50px;
	padding-left: 6%;
}
.middle_info .about{
	font-size: 22px;
	font-weight: bold;
	color:#800;
}
.middle_info .testimonials{
	font-size: 22px;
	font-weight: bold;
	color:#800;	
}
.profileSpan{
	font-size: 12px;
	font-weight: bold;
	color:#800;
}
#activity{
	position: relative;
	float: right;
	margin-top: 50px;
	padding-right: 6%;
	width: 30%;
}
#activity #scrollable{
	height: 550px;
	overflow: auto;
	border: 1px solid gray;
	padding: 5px 5px 0 5px;
	border-radius: 
}
#activity #scrollable::-webkit-scrollbar {
    width: 12px;
}

#activity #scrollable::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

#activity #scrollable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
#activity #scrollable{
	height: 515px;
	overflow: auto;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 3px 7px 7px 3px ;
}
#activity .image{

	position: relative;
	float: left;

}
#activity .user_box .user_post{
	display: block;
	position: relative;
	margin-left: 60px;

}
#activity strong{
	color: #fbac1b;
	padding-left: 9px;
}
#activity .time{
	float: right;
	position: relative;
	font-size: 10px;
}
#activity hr{
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    
}
#prof_btn{
		padding-left: 5px;
	}
.form_box {
	background: rgb(54, 25, 25); /* Fall-back for browsers that don't
                                    support rgba */
    background: rgba(54, 25, 25, .5);
    position:fixed;
    margin: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}
.form_box {
    display:none


}
.upload_form{
	top: 25%;
	left: 35%;
	position: fixed;
    margin: auto;
	background-color: white;
}
.upload_form .uploadTitle{
	border-bottom: 1px solid gray;
	width: 395px;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 0 5px 5px;
	background-color: #fbac1b;
	height: 20px;
}

.upload_form .uploadContent{
	padding-top: 10px;
}
.upload_form .uploadContent{
	padding-bottom: 10px;
	border-bottom: 1px solid gray;
	position: relative;
}
.upload_form .uploadBottons{
	padding: 5px 3px 5px 0;
	float: right;
}
#image-list li img{
		width: 250px;
		height: 250px;
		padding-left: 70px;
	}
.logout{
	float: right;
}