#chat_container{
	float: left;
	margin-top: 100px;
	margin-left: -50px;
	
}
.postContainer{
	padding: 5px 0 10px 5px;
	position: relative;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;

	border-top: 1px dashed #800000;
	position: relative;
	clear: both;

}
.user{

position: relative;
	float: left;
}
.postmsg{


	float: left;
	padding: 0 4px 5px 10px;


}
#scroll::-webkit-scrollbar {
    width: 12px;
}

#scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

#scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
#scroll{
	height: 515px;
	width: 400px;
	overflow: auto;
	overflow-x: hidden;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 3px 7px 7px 3px ;
