body{
	font-family: Tahoma;
	font-size: 15px;
}

#scroll::-webkit-scrollbar {
    width: 12px;
}

#scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

#scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
#scroll{
	height: 515px;
	width: 500px;
	overflow: auto;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 3px 7px 7px 3px ;

}

#messages{
	height: 300px;
	padding-left:5px;
	
	
}