html{
	background-image: url('../assets/Logo.png');
	background-repeat: no-repeat;
	background-position: 80% 55%;
}
body{
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, sans-serif;

}
a:link{
	text-decoration:none;
	color: #fbac1b;
}
a:visited{
	text-decoration:none;
	color: #fbac1b;
}
.topBar{
	position: relative;
	background-image: url('../assets/loginDivBackground.jpg');
	box-shadow: 0 2px 0 #fbac1b;
	overflow:hidden;
	clear: both;
}
.topBar .loginForm{
	position: relative;
	top: 12px;
	float: right;
	padding: 0 30px 10px; 0;
	color: #fbac1b;
	font-size: 12px;
}
.caption{
	float: left;
	color: #fbac1b;
	padding: 0 0 5px 160px;
	font-size: 38px;
	font-weight:bold;
	text-shadow: 1px 1px 1px #000;
}
.loginForm{
	position: relative;
	
	padding-top: 300px;
	padding-bottom: 140px;
	padding-left: 550px;
}
input{
	border-radius: 5px;
}
footer{
	clear: both;
	position:relative;
	box-shadow: inset 0px 11px 8px -10px #CCC,inset 0 0 0 0 #CCC;
	margin: 20px 0 0 0;
	padding: 10px 0 0 25%;
	font-size: 12px;
}