<?php
ini_set('max_execution_time', 0);
$room = $_GET['room'];
$assignNum = $_GET['assignNum'];
echo "<div class='uploadFile' style='border-bottom:1px solid #800;height:25px;background-color:#800'><strong style='color:#fbac1b;padding:5px 0 5px 5px;position:absolute;'>Uploaded Files</strong><button onclick=closeUpload() style='float:right'>Close</button></div>";

$path = "C:/wamp/www/Thesis/rooms/$room/assignments/assign_$assignNum";


$handle = opendir($path);
while ($file = readdir($handle)) {
	if(substr($file,0,1) !="."){
	$text = $file;
	?>
	<a href=<?php echo $path.'/'.$text; ?> class='downloadFile'><?php echo $text; ?></a><br />
	<?php
	}
}


?>
